{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks"],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "react/jsx-uses-vars": ["error"],
    "no-debugger": ["warn"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "arrow-parens": "off",
    "prop-types": "off",
    "no-console": "off",
    "space-before-function-paren": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "navigator": true,
    "describe": true,
    "beforeAll": true,
    "beforeEach": true,
    "expect": true,
    "it": true,
    "fetch": true,
    "jest": true
  },
  "extends": ["airbnb-base"]
}
