{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "prop-types": [2],
    "react/jsx-uses-vars": ["error"],
    "no-debugger": ["warn"]
  },
  "globals": {
    "window": true,
    "document": true,
    "navigator": true,
    "describe": true,
    "beforeAll": true,
    "beforeEach": true,
    "expect": true,
    "it": true,
    "fetch": true,
    "jest": true
  },
  "extends": ["airbnb-base"]
}
